<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSON-BREAD</title>
</head>
<link rel="stylesheet" href="/css/style-add.css">

<body class="body">
    <form action="add" method="POST">
    <div class="container">

        <div class="header">
            <h1>ADD DATA </h1>
        </div>

        <div class="check2">
            <label class="">String</label>
            <input class="rowinput1" id="masukan" type="text" placeholder="String" name="string">
        </div>

        <div class="check3"></form>
            <label  class="">Integer</label>
            <input class="rowinput2" id="masukan" type="text" placeholder="Integer" name="integer">
        </div>

        <div class="check4">
            <label  class="">Float</label>
            <input class="rowinput3" id="masukan" type="text" placeholder="Float" name="float">
        </div>

        <div class="date">
            <div class="check5">
                <label class="">date</label>
                <input class="rowinput4" id="masukan" type="date" placeholder="Date" name="date">
            </div>
        </div>

        <div class="check6">
            <label  class="">Boolean</label>
            <select class="boolean" name="boolean" required>
                <option value="" selected>choose the boolean ....</option>
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>

        <button type="submit" class="tapcari">SAVE</button>
        <a href="/" class="kembali">Back</a>

    </div></form>
</body>

</html>